# Pandas

# Pandas

*Pandas* is the premier Python package for data analysis. Pandas is built around the concept of *series* (akin to Numpy vectors) and *data frames* (akin to Numpy matrices). Unlike their Numpy counterparts, Pandas has a rich API that often makes series and data frames more convenient to work with.

The source data we will be playing around with are weather measurements in Montreal in 2012. As is typical, the data is found in a CSV-file (comma-separated values). Pandas has an incredibly useful `read_csv` function.

First though, let's import Pandas. Conventionally it is given the name `pd`.

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

Now let us read the CSV file and display it.

In [2]:
data = pd.read_csv('data/Montreal.csv')
data.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

As you can see, Jupyter notebooks have nice integration with Pandas allowing us to see dataframes displayed like actual human data.

Every data frame has an *index* and a number of *columns*. It's useful to double-check after reading a CSV file to ensure that everything is up to scratch. (I maybe don't need to tell you this, but there are **A LOT** of shady CSV files out there.)

In [3]:
data.index

RangeIndex(start=0, stop=8784, step=1)

In [4]:
data.dtypes

Date/Time              object
Temp (C)              float64
Dew Point Temp (C)    float64
Rel Hum (%)             int64
Wind Spd (km/h)         int64
Visibility (km)       float64
Stn Press (kPa)       float64
Weather                object
dtype: object

This looks mostly okay, except that we would like our data-frame to be indexed by the date and time, rather than by a number that doesn't really mean that much to us. Let's fix that.

In [5]:
data = pd.read_csv('data/Montreal.csv', index_col='Date/Time', parse_dates=['Date/Time'])
data.index

DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 01:00:00',
               '2012-01-01 02:00:00', '2012-01-01 03:00:00',
               '2012-01-01 04:00:00', '2012-01-01 05:00:00',
               '2012-01-01 06:00:00', '2012-01-01 07:00:00',
               '2012-01-01 08:00:00', '2012-01-01 09:00:00',
               ...
               '2012-12-31 14:00:00', '2012-12-31 15:00:00',
               '2012-12-31 16:00:00', '2012-12-31 17:00:00',
               '2012-12-31 18:00:00', '2012-12-31 19:00:00',
               '2012-12-31 20:00:00', '2012-12-31 21:00:00',
               '2012-12-31 22:00:00', '2012-12-31 23:00:00'],
              dtype='datetime64[ns]', name='Date/Time', length=8784, freq=None)

As you can see, the index is now a `DateTimeIndex`, and Pandas was able to parse the dates automatically for us.

If you like, it's always possible to access the back-end Numpy arrays that Pandas use to store its data. For example:

In [6]:
data.index[0]

Timestamp('2012-01-01 00:00:00')

In [7]:
data.values

array([[-1.8, -3.9, 86, ..., 8.0, 101.24, 'Fog'],
       [-1.8, -3.7, 87, ..., 8.0, 101.24, 'Fog'],
       [-1.8, -3.4, 89, ..., 4.0, 101.26, 'Freezing Drizzle,Fog'],
       ...,
       [-0.5, -1.5, 93, ..., 4.8, 99.95, 'Snow'],
       [-0.2, -1.8, 89, ..., 9.7, 99.91, 'Snow'],
       [0.0, -2.1, 86, ..., 11.3, 99.89, 'Snow']], dtype=object)

As you can see, the data type of `data.values` is `object`, because our data is heterogeneous (it's a mix of numbers and strings). This makes working with the Numpy array directly somewhat awkward. On the other hand, Pandas seamlessly deals with columns of different types.

Pandas lets us grab specific columns,

In [8]:
data['Temp (C)']

Date/Time
2012-01-01 00:00:00   -1.8
2012-01-01 01:00:00   -1.8
2012-01-01 02:00:00   -1.8
2012-01-01 03:00:00   -1.5
2012-01-01 04:00:00   -1.5
                      ...
2012-12-31 19:00:00    0.1
2012-12-31 20:00:00    0.2
2012-12-31 21:00:00   -0.5
2012-12-31 22:00:00   -0.2
2012-12-31 23:00:00    0.0
Name: Temp (C), Length: 8784, dtype: float64

Or rows,

In [9]:
data[:5]

,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
Date/Time,,,,,,,
2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

Since the index is of datetime type, we can also do this, to grab the values from January.

In [10]:
data['2012-01-01':'2012-01-31']

,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
Date/Time,,,,,,,
2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...
2012-01-31 19:00:00,-7.7,-10.9,78,19,1.6,101.14,Snow
2012-01-31 20:00:00,-7.4,-10.7,77,20,1.6,101.09,Snow
2012-01-31 21:00:00,-7.1,-10.5,77,20,12.9,101.02,Cloudy
2012-01-31 22:00:00,-7.1,-10.4,77,19,9.7,100.95,Snow
2012-01-31 23:00:00,-6.8,-9.9,79,22,9.7,100.86,"Freezing Drizzle,Snow"

But in fact, this also works.

In [17]:
data['2012-01']

KeyError: '2012-01'

You can combine indexing too. Let's get the weather types on November 2nd.

In [ ]:
data['2012-11-02']['Weather']

The first step in data analysis is always to plot something. Pandas makes this easy, and you don't have to deal with Matplotlib directly.

In [ ]:
data.plot()

Okay, that's not very enlightening. Let's try to be more specific.

In [ ]:
data.plot(y='Temp (C)', figsize=(12,4))

Let's see if the temperature and the dew point are linked.

In [ ]:
ax = data.plot(y='Temp (C)', figsize=(12,4))
data.plot(y='Dew Point Temp (C)', ax=ax)

Looks like that's the case. A scatter plot might make this relationship more clear. The red line corresponds to *dew point = temp*, which is when the air is completely saturated with humidity. As we can see, the temperature seems to be never smaller than the dew point.

In [ ]:
data.plot.scatter('Temp (C)', 'Dew Point Temp (C)', alpha=0.05)
temps = data.min()['Temp (C)'], data.max()['Temp (C)']
plt.plot(temps, temps, color='red')

We might reasonably expect the humidity to be high when the actual temperature is close to the dew point. Let's see if that's the case. First, create a new column with the difference between temperature and dew point. Then make a new scatter plot.

In [ ]:
data['Temp Diff (C)'] = data['Temp (C)'] - data['Dew Point Temp (C)']

data.plot.scatter('Temp Diff (C)', 'Rel Hum (%)', alpha=0.05)

This looks quite revealing indeed.

Let's look at the "Weather" column. Unlike the other columns, it acts as a category rather than as a number. Use `.value_counts()` to get an overview.

In [ ]:
data['Weather'].value_counts()

Unfortunately this sort of column is not very useful. We'd rather have columns called "Clear", "Cloudy", etc, which are booleans. Let's try to do that. You can access string methods under the `str` attribute. Let's split on comma and expand.

In [ ]:
temp = data['Weather'].str.split(',', expand=True)
temp.head()

As you can see we now get a dataframe with three columns, indicating that there are only ever three different weather tags for any particular hour. Let's get a list of all weather tags. Since `set` removes duplicates, let's use that. Let's also remove `None`.

In [ ]:
tags = sorted(set(temp.values.flatten()) - {None})
tags

Now we can get a boolean dataframe indicating which days are foggy by using `temp == 'Fog'`. We also need to apply maximum on the rows, though, since we're only interested in whether it was foggy, not whether "Fog" was first, second or third in the list.

In [ ]:
(temp == 'Fog').aggregate('max', axis=1)

Great. Let's now add a bunch of columns to our original data frame.

In [ ]:
for tag in tags:
    data[tag] = (temp == tag).aggregate('max', axis=1)
data.dtypes

Beautiful. Now we can get some more information on the specific types of weather.

In [ ]:
weather = data.loc[:, 'Blowing Snow':'Thunderstorms']
weather.aggregate('sum').sort_values(ascending=False)

It seems reasonable to believe that there's a relationship between foggy weather and humidity. Let's check that by returning to one of our earlier scatter plots, and plotting two separate data sets, foggy and non-foggy.

In [ ]:
fig, ax = plt.subplots(1, 1)
data[~data['Fog']].plot.scatter('Temp (C)', 'Dew Point Temp (C)', color='blue', ax=ax, alpha=0.05)
data[data['Fog']].plot.scatter('Temp (C)', 'Dew Point Temp (C)', color='red', ax=ax, alpha=0.1)

We can go further by box-plotting the humidity when compared with various forms of weather conditions that we suspect may be linked to it.

In [ ]:
humidity = data['Rel Hum (%)']

# This is equivalent to fog = data['Fog'], etc.
fog, drizzle, rain, snow, thunder = (data[x] for x in ['Fog', 'Drizzle', 'Rain', 'Snow', 'Thunderstorms'])

plt.figure(figsize=(10,4))
plt.boxplot(
    [humidity[~fog], humidity[fog], 
     humidity[~drizzle], humidity[drizzle],
     humidity[~rain], humidity[rain],
     humidity[~snow], humidity[snow],
     humidity[~thunder], humidity[thunder]], 
    labels=['No fog', 'Fog', 'No drizzle', 'Drizzle', 'No rain', 'Rain', 'No Snow', 'Snow', 'No thunder', 'Thunder']
)
plt.ylabel('Rel Hum (%)')